@tailwind base;
@tailwind components;
@tailwind utilities;

form .formElement{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.formElement label{
    font-weight:500;
    width: 300px;
    
    
}
form input{
    border:solid black 2px;
    border-radius: 10px;
    min-width: 200px;
}

form .error{
    color: red;
    font-size: small;
    display: block;
    margin-left: 20px;
   
    
}
input[type="file"] {
    border: none;
    

}
/* select tag */
.tag {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #ddd;
    border-radius: 5px;
  } bb    
  button {
    margin-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
  }

